@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  color:#333;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.highlight-transparent {
  -webkit-tap-highlight-color: transparent;
}